<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Tamagotchi</title>
  </head>
  <body>
    <h1>Tamagotchi</h1>
    <form action="/items" method="post">
      <label for="description">Add a Tamagotchi</label>
      <input id="description" name="description" type="text">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
